# Python cache files
__pycache__/

# Models directory
models/

# Virtual environment
venv/

# Environment variables
.env

# Best directory/file
best

# Dataset labels
dataset_labels

# Presentation files
prezentation.md

# Удалите файлы локально
dataset_labels
распределение_истинных_меток.png
best
analysis_utils.py

